body {
    font-family: 'Montserrat', sans-serif;

    .container-fluid {
        .homePage {
            width: 100%;
            min-height: 100vh;
            .Popular-models {
                width: 100%;
                min-height: 70vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {
                    width: 100%;
                    height: 5vh;
                    padding: 20px 0;
                }

                .models {
                    width: 100%;
                    height: 70vh;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 50px;

                    .card{
                        height: 60vh;

                        img {
                            height: 60%;
                        }
                    }
                }
            }
        }

        .footer {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mainblockfooter {
            width: 90%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .footerblocktop {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .footerblocktop h2 {
            color: #111;
            font-family: DM Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.3px;
            margin-right: 20px;
        }

        .footerblocktop button {
            width: 175px;
            height: 50px;
            border: none;
            border-radius: 8px;
            background: #10B981;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footerblocktop button p {
            color: #FFF;
            font-family: DM Sans;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.232px;
        }

        hr {
            background-color: #111111;
            width: 100%;
            height: 2px;
        }

        .footerblockcenter {
            width: 100%;
            height: 40vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0;
        }

        .leftfooterbox {
            width: 20%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 100px;
        }

        .leftfooterbox h3 {
            color: #111;
            font-family: DM Sans;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.3px;
            width: 200px;
        }

        .Emailaddress {
            width: 289px;
            height: 51px;
            border-top: none;
            border-left: none;
            border-right: none;
        }

        .leftfooterbox button {
            width: 50px;
            height: 51px;
            border-radius: 10px 10px 0 0;
            background-color: #10B981;
            border: none;
            position: absolute;
            margin-top: 58px;
            margin-left: 239px;
        }

        .Services,
        .About,
        .Help {
            width: 20%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .Green {
            color: #10B981;
            font-family: DM Sans;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.232px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .Services p {
            color: #111;
            font-family: DM Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.205px;
            margin-bottom: 25px;
        }

        .About p {
            color: #111;
            font-family: DM Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.205px;
            margin-bottom: 25px;
        }

        .Help p {
            color: #111;
            font-family: DM Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.205px;
            margin-bottom: 25px;
        }

        .footerblockbottom {
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footerblockbottomtext {
            width: 50%;
            height: 10vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .footerblockbottomtext p {
            color: #111;
            font-family: DM Sans;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.205px;
            margin-right: 40px;
        }

        .masengers {
            width: 50%;
            height: 10vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .masengers i {
            margin-left: 40px;
        }

    }

    .Computers {
        .products {
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .container {
                width: 80%;
                min-height: 100vh;
                padding-bottom: 20px;

                .card {
                    width: 100%;
                    height: 50vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;

                    .characteristic{
                        width: 30%;

                        ul {
                            li::marker {
                                color: green;
                            }
                        }
                    }
                }
            }

            .filter {
                width: 20%;
                min-height: 100vh;
                margin-bottom: 50px;
                margin-top: 10px;

                p{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 40px;
                }
                
                .block {
                    .list-group {
                        h4 {
                            font-size: 20px;
                            color: green;
                            text-align: center;
                        }
                    }
                    .buttonblock {
                        width: 100%;
                        height: 10vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn {
                            width: 70%;
                        }
                    }
                }

            }
        }
    }
}